p = _("Bonjour,")

p = _("Nous avons bien reçu votre adresse email et nous vous informerons dès que les inscriptions à nos formations sont ouvertes.")

p = _("Avez-vous déjà jeté un coup d'oeil à notre wiki et à notre base de données de plantes?")

ul
  li = link_to(_("Le wiki de Semisto"), "https://wiki.semisto.org")
  li = link_to(_("La base de données Semisto"), "http://plantes.semisto.org")

p = _("À bientôt !")

p Michael, Semisto
